.footer {
    background: #101218;
    border-radius: 10px 10px 0px 0px;
    font-size: 16px;
}

.footer h3 {
    font-size: 20px;
}

.footer-wrapper {
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
}

.copyright {
    display: flex;
    gap: 20px;
    color: #fafafa;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .dot-svg {
        font-size: 8px;
    }
}

.footer-logo-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.footer-logo-section>img {
    width: 130px;
    height: 52px;
    margin-bottom: 60px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-content {
    display: flex;
    gap: 120px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.link {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.active {
    color: #21ace8;
}

.footer-links.follow-wrapper {
    display: flex;
    flex-direction: row;
    gap: 116px;
}

.social-media {
    display: flex;
    justify-content: start;
    gap: 16px;
}

.follow-us {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.button-up {
    width: 28px;
    height: 28px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.button-up:hover {
    cursor: pointer;
}

.button-up-svg {
    width: 8px;
    height: 6px;
}

.footer-links-mobile {
    display: none;
}

@media only screen and (max-width: 1280px) {
    .footer-wrapper {
        padding: 30px 40px;
    }

    .footer-content {
        gap: 60px;
    }

    .footer-links.follow-wrapper {
        gap: 60px;
    }
}

@media only screen and (max-width: 1000px) {
    .footer-wrapper {
        padding: 20px 20px;
    }

    .footer-content {
        gap: 20px;
    }

    .footer-links.follow-wrapper {
        gap: 10px;
    }

    .social-media {
        gap: 6px;
    }
}

@media only screen and (max-width: 800px) {
    .footer {
        font-size: 12px;
    }
}

@media only screen and (max-width: 700px) {
    .footer-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .footer-logo-section img {
        display: none;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-links {
        display: none;
    }

    .footer-links.follow-wrapper {
        width: 200px;
    }

    .follow-us {
        gap: 0px;
        margin-bottom: 30px;
        padding-left: 20px;
    }

    .contacts {
        padding-left: 20px;
    }

    .contacts-list {
        width: 360px;
    }

    .footer-links-mobile {
        display: flex;
        flex-direction: column;
    }

    .footer-links.follow-wrapper {
        gap: 230px;
    }

    .footer-links-mobile .link-mobile {
        border-bottom: 1px solid rgba(250, 250, 250, 0.4);
        margin: 16px 0;
        width: 360px;
        padding-left: 20px;
    }

    .footer-main-link {
        font-size: 20px;
        display: flex;
        margin-bottom: 10px;
    }

    .footer-main-link img {
        margin-left: 7px;
    }

    .footer-main-link .support-img {
        margin-left: 20px;
    }

    .footer-sub-menu:last-child {
        margin-bottom: 20px;
    }

    .footer-sub-menu:first-child {
        margin-top: 10px;
    }

    .footer-sub-menu {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    .link-mobile .footer-main-link img {
        transition: transform 0.3s ease-in-out;
    }

    .link-mobile .footer-main-link img.rotated {
        transform: rotate(180deg);
    }

    .footer-main-link.img-right {
        display: flex;
        gap: 13px;
    }
}